.App {
  text-align: center;
}

.shoplink {
  width: 50%;
  text-align: center;
}

.homeImg {
  text-align: center;
  height: 200px;
  width: 210px;
  margin-left: 80%;
  transition: all .5s ease-in-out;
}

.homeImg:hover {
  transform: scale(1.1);
}

.starImg {
  height: 150px;
  width: 160px;
  margin-left: 34rem;
  margin-bottom: 10px;
  transition: all .5s ease-in-out;
}

.starImg:hover {
  transform: scale(1.1);
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
